.select {
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(51, 205, 229);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    user-select: none;
}

.no-select {
    width: 100%;
    line-height: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.no-select:hover {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(51, 205, 229, 0.3);
    cursor: pointer;
}

.show-dock-app {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: showDockApp linear 0.2s;
}

@keyframes showDockApp {
    from {
        position: absolute;
        bottom: -60px;
        left: 50%;
    }
    to {
        position: absolute;
        bottom: 5px;
        left: 50%;
    }
}

.hidden-dock-app {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    animation: hiddenDockApp linear 0.2s;
}

@keyframes hiddenDockApp {
    from {
        position: absolute;
        bottom: 5px;
        left: 50%;
    }
    to {
        position: absolute;
        bottom: -60px;
        left: 50%;
    }
}



